#age
{
    color: yellow;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg,red,blue);
    color: white;
    padding: 10px;
}